//Generic colors
$white: whitesmoke;
$black: rgb(48, 48, 48);
$red: #E94854;

//Colors for skills section
$htmlColor: #e34c26;
$cssColor: #5DBCD2;
$jsColor: #f7df1e;
$sassColor: rgb(198, 83, 140);
$vuejsColor: rgb(79, 192, 141);
$bootstrapColor: rgb(86, 61, 124);
$phpColor: rgb(136, 146, 191);
$csharpColor: whitesmoke;
$umbracoColor: rgb(53, 68, 177);
$drupalColor: rgb(6, 120, 190);
$aspnetColor: rgb(81, 43, 212);
$netColor: #6C439D;
$bulmaColor: rgb(0, 209, 178);

//Colors for different project types
$studieColor: $white;
$arbejdeColor: $black;